body {
    display: flex;
	flex-direction:column;
    max-width: 1920px;
    margin: 0 auto;
    
}
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 1em 2em;
    background-color: rgb(239, 245, 188);
    cursor: pointer;

}

.header {
    font-size: 2em ;
    font-weight: bold;
    margin-left: 2em;
}
.description {
    display: flex;
    
}
.name {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    width: 100%;
}
.name:hover {
    color:rgb(99, 5, 28)
}

.day{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1em auto ;
}
input {
    position: absolute;
    right: 0;
    
}
.toggle-box{
    margin: 1em;
    width: 1em;
    height: 1em;
}

.toggle-box:hover ~ .toggle-open{
    display: block;
}
.toggle-box:checked ~.toggle-close{
    display: block;
    
}
.picture{
    display: none;
    margin: 1em auto;
    width: 50%;
    
}
.picture:hover{
    transition: ;
}



/*#day2 {
    display: none;
}
*/

.toggle-box:checked ~ .picture{
    display: block;
}
#day2:hover {

}