body {
    display: flex;
	flex-direction:column;
    max-width: 1920px;
    margin: 0 auto;
    cursor: pointer;
    
}
.container {
    width: 80%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 2em 2em;
    background-color: rgb(239, 245, 188);
    cursor: pointer;

}

.header {
    font-size: 3em ;
    font-weight: bold;
    margin-left: 2em;
    margin-bottom: 1em;

}
.description {
    display: flex;
    
}
.name {
    display: flex;
    justify-content: space-between;
    font-size: 3em;
    width: 100%;
    cursor: pointer;
}
.name:hover {
    color:rgb(99, 5, 28)
}

.day{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1em auto ;
    cursor: pointer;
}
input {
    display: none;
    position: absolute;
    right: 10em;
    
}
input:hover {
    display: block;
}
.toggle-box{
    margin: 2em;
    width: 1em;
    height: 1em;
    
}

.picture{
    display: none;
    margin: 2em auto;
    width: 50%;
    transform: scale(1.1) ;
    transition: all 3s linear;
    transition-delay: 1s;
}

.toggle-box:checked ~ .picture{
    display: block; 
    transform: scale(1.1) ;
      
}
/* Media запросы*/

@media screen and (max-width: 1205px){
    .header{
        font-size: 2em;
    }
    .name{
        font-size: 2em;
    }
    .toggle-box{
        margin: 1em;
    }
}
@media screen  and (max-width: 745px){
    .container{
        padding: 1em 1em;
    }
    .header{
        font-size: 1em;
        margin-left: 1em;
    }
    .name{
        font-size: 1em;
    }
    .day {
        width: 85%;
    }

};
    